



.space{
    justify-content: space-between;
    background-color: #004B8D;
    transition: top 0.3s
}

span{
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
  
}
.bt:hover{
    color: white;
    text-transform: uppercase;
    font-size: large;

}
.div{
    justify-content: space-between;

	z-index: 100000;
}

